# Ignore test local files

doc/PlantillaAnteTFG/*
doc/PlantillaTFG/*

# Ignore vim files
*.swp
*.swo

# Ignore latex files
*.bcf
*.aux
*.log
*.synctex.gz
*.toc
*.bbl
*.blg
*.run.xml

# Ignore pycache
app/__pycache__
